<div class="well col-lg-6 col-lg-offset-3 text-center">
  <p id="notice" class="col-lg-offset-3"><%= flash[:notice] %></p>
  <h3 class="welcome-msg">Reset Password</h3><br>
  <div class="text-left">
    <%= form_tag("/send_password", method: "post") do %>
      <span><%= label_tag :email, "Email:", class: "col-sm-2 col-sm-offset-1 control-label" %></span>
      <span><%= text_field_tag :email, "", class: "form-field form-control" %></span><br>
      <span><%= submit_tag "Reset Password", class: "btn btn-primary col-sm-offset-3" %></span>
    <% end %>
  </div>
</div>
