<div class="final-menu">
  <br><br>
  <h3>Appetizers</h3>
    <% @dinner.menu.appetizers.each do |recipe| %>
      <%= render partial: 'menus/menu_card', locals: { recipe: recipe } %><br>
      <%= render 'menus/chef', :recipe => recipe, :dinner => @dinner, :menu_recipe => MenuRecipe.where(:recipe_id => recipe.id, :menu_id => @dinner.menu.id) %><br>
    <% end %>
  <hr>  
  <h3>Sides</h3>
    <% @dinner.menu.sides.each do |recipe| %>
      <%= render partial: 'menus/menu_card', locals: { recipe: recipe } %><br>
      <%= render 'menus/chef', :recipe => recipe, :dinner => @dinner, :menu_recipe => MenuRecipe.where(:recipe_id => recipe.id, :menu_id => @dinner.menu.id) %><br>
    <% end %>
  <hr>
  <h3>Mains</h3>
    <% @dinner.menu.mains.each do |recipe| %>
      <%= render partial: 'menus/menu_card', locals: { recipe: recipe } %><br>
      <%= render 'menus/chef', :recipe => recipe, :dinner => @dinner, :menu_recipe => MenuRecipe.where(:recipe_id => recipe.id, :menu_id => @dinner.menu.id) %><br>
    <% end %>
  <hr>  
  <h3>Desserts</h3>
    <% @dinner.menu.desserts.each do |recipe| %>
      <%= render partial: 'menus/menu_card', locals: { recipe: recipe } %><br>
      <%= render 'menus/chef', :recipe => recipe, :dinner => @dinner, :menu_recipe => MenuRecipe.where(:recipe_id => recipe.id, :menu_id => @dinner.menu.id) %><br>
    <% end %>  
  <br>
  <h3 class="bon-appetit">Bon Appetit!</h3>
  <br><br>
</div>

<% if current_user == @dinner.host %>
  <button id="email-guests-btn" class="btn btn-primary">Invite Guests</button><br>

  <div id="email-button" class="email-guests"><br>
  <%= render partial: 'users/dinners/email_guest_form', locals: {:dinner => @dinner} %>
  </div>
  <%= link_to "Add a Recipe!", new_recipe_path%>
<% end %>
