<a href="<%= recipe_path(recipe)%>" 
   class="recipe-link" 
   data-container="body" 
   data-toggle="popover" 
   data-placement="top" 
   data-content=
   "<div class='text-center'>
    <h5><%= recipe.name %></h5>
    <%if recipe.image_upload%>
    <img src='<%= recipe.image_upload.url %>' class='qtr'/>
    <%else%>
    <img src='<%= valid_image_url(recipe) %>' class='qtr'/>
    <%end%>
    <p>Primary Ingredient: <%= recipe.primary_ingredient %></p>
    </div>
    ">

   <%= recipe.name %></a>
