<div class="menu-election">

<% if !@dinner.menu.finalized? %>
  <div class="countdown">
        <h3>Vote by <%=@dinner.menu.exp_date.strftime("%B %d, %Y")%></h3>
          <span class="expiredate" value="<%= @dinner.menu.exp_date%>">Election expires in: </span>   
          <span class="days">00</span>
          <span class="timeRefDays">days</span>
          <span class="hours">00</span>
          <span class="timeRefHours">hours</span>
          <span class="minutes">00</span>
          <span class="timeRefMinutes">minutes</span>
          <span class="seconds">00</span>
          <span class="timeRefSeconds">seconds</span>
        </div>

    <div id="appetizers">
      <h3>Appetizers</h3>
      <div class="recipe-card horizontal-scroll">
      <% @dinner.menu.menu_appetizers.each do |mr| %>

        <div class="individual-recipe">
          <%if mr.recipe.image_upload%>
            <img src="<%= mr.recipe.image_upload.url %>" class="img-thumbnail"><br>
          <%else%>
            <img src="<%= valid_image_url(mr.recipe) %>" class="img-thumbnail"><br>
          <%end%>
          <%= link_to mr.recipe.short_name, "/recipes/#{mr.recipe.id}"%>
          <div id="num_votes_<%= mr.id %>"><%= pluralize(mr.votes.count, "vote") %></div>
          <% if !mr.vote_cast?(current_user) %>
          <div class="vote-button-form"><%= render :partial => 'menu_recipes/vote', locals: { mr: mr } %></div>
          <% else %>
          <div class="vote-button-form"><%= render :partial => 'menu_recipes/unvote', locals: { mr: mr } %></div>
          <% end  %>
        </div>

      <% end %>
      </div>
    </div>

    <div id="sides">
      <h3>Sides</h3>
      <div class="recipe-card horizontal-scroll">
      <% @dinner.menu.menu_sides.each do |mr| %>
      
      <div class="individual-recipe">
        <%if mr.recipe.image_upload%>
          <img src="<%= mr.recipe.image_upload.url %>" class="img-thumbnail"><br>
        <%else%>
          <img src="<%= valid_image_url(mr.recipe) %>" class="img-thumbnail"><br>
        <%end%>
        <%= link_to mr.recipe.short_name, "/recipes/#{mr.recipe.id}"%>
        <div id="num_votes_<%= mr.id %>"><%= pluralize(mr.votes.count, "vote") %></div>
        <% if !mr.vote_cast?(current_user) %>
        <div class="vote-button-form"><%= render :partial => 'menu_recipes/vote', locals: { mr: mr } %></div>
        <% else %>
        <div class="vote-button-form"><%= render :partial => 'menu_recipes/unvote', locals: { mr: mr } %></div>
        <% end  %>
      </div>

      <% end %>  
      </div>        
    </div>

    <div id="mains">
      <h3>Mains</h3>
        <div class="recipe-card horizontal-scroll">
        <% @dinner.menu.menu_mains.each do |mr| %>

        <span class="individual-recipe">
          <%if mr.recipe.image_upload%>
          <img src="<%= mr.recipe.image_upload.url %>" class="img-thumbnail"><br>
          <%else%>
          <img src="<%= valid_image_url(mr.recipe) %>" class="img-thumbnail"><br>
          <%end%>
          <%= link_to mr.recipe.short_name, "/recipes/#{mr.recipe.id}"%>
          <div id="num_votes_<%= mr.id %>"><%= pluralize(mr.votes.count, "vote") %></div>
          <% if !mr.vote_cast?(current_user) %>
          <div class="vote-button-form"><%= render :partial => 'menu_recipes/vote', locals: { mr: mr } %></div>
          <% else %>
          <div class="vote-button-form"><%= render :partial => 'menu_recipes/unvote', locals: { mr: mr } %></div>
          <% end  %>
        </span>

        <% end %>
      </div>
    </div>

    <div id="desserts">
      <h3>Desserts</h3>
        <div class="recipe-card horizontal-scroll">
        <% @dinner.menu.menu_desserts.each do |mr| %>
        
        <span class="individual-recipe">
          <%if mr.recipe.image_upload%>
          <img src="<%= mr.recipe.image_upload.url %>" class="img-thumbnail"><br>
          <%else%>
          <img src="<%= valid_image_url(mr.recipe) %>" class="img-thumbnail"><br>
          <%end%>
          <%= link_to mr.recipe.short_name, "/recipes/#{mr.recipe.id}"%>
          <div id="num_votes_<%= mr.id %>"><%= pluralize(mr.votes.count, "vote") %></div>
          <% if !mr.vote_cast?(current_user) %>
          <div class="vote-button-form"><%= render :partial => 'menu_recipes/vote', locals: { mr: mr } %></div>
          <% else %>
          <div class="vote-button-form"><%= render :partial => 'menu_recipes/unvote', locals: { mr: mr } %></div>
          <% end  %>
        </span>

        <% end %>
      </div>
    </div>

    <% if @dinner.host == current_user %>
    <div id="email-button" class="email-guests"><br>
    <button id="email-guests-btn" class="btn btn-primary">Invite Guests</button><br>
      <%= render 'users/dinners/email_guest_form' %>
    </div>
    <h4>In a rush? <%= link_to 'Tally your votes now.', tally_menu_path(@dinner.menu), method: :post, remote: true %></h4>
    <% else %>
      <%= link_to "Save", user_path(current_user), class: "btn btn-primary" %>
    <% end %>
  
<% else %>
  <%= render 'menus/final_menu', :dinner => @dinner %>
<% end %>

</div>
