<a href="<%= recipe_path(recipe)%>" 
   class="recipe-link" 
   data-container="body" 
   data-toggle="popover" 
   data-placement="top" 
   data-content=
   "<div class='text-center'>
    <h5><%= recipe.name %></h5>
    <img src='<%= recipe.image_url %>' class='qtr'/>
    <p>Primary Ingredient: <%= recipe.primary_ingredient %></p>
    </div>
    ">

   <%= recipe.name %></a>
