<div class="invite-email col-md-offset-2">
<h5><%= @header %></h5>
<div class="welcome-msg">
<h1><%=@dinner.name%></h1>
</div>
<h3><%=@dinner.location%></h3>
<h5><%=@dinner.date.strftime("%B %d, %Y")%></h5>
<h5><%=@dinner.time.strftime("%l:%M %p")%></h5>
<a href="<%= @dinner_page %>"><%= @link_action %></a>
</div>