<div class="well well-lg col-md-8 col-md-offset-2 text-center">

  <%if !@recipe.image_upload.url.include?("missing")%>
    <img src='<%= @recipe.image_upload.url %>' alt="<%= @recipe.name %>", class="img-thumbnail"/>
  <%else%>
    <img src='<%= valid_image_url(@recipe) %>' alt="<%= @recipe.name %>", class="img-thumbnail"/>
   <%end%>
   <%if @recipe.source_url%>
  <h1><%= link_to @recipe.name, @recipe.source_url %></h1>
  <%else%>
  <h1><%=  @recipe.name %></h1>
  <%end%>

  <h4><%= @recipe.description %></h4><br>

  <h4>Cook time: <%= @recipe.cook_time %></h4>
  <h4>Makes <%= @recipe.servings %></h4>

  <h3>Ingredients:</h3>
  <p><%= @recipe.ingredients %></p>
    <!-- <%# @recipe.ingredients.split(" * ").each do |i| %>
    <ul>
      <li><%#= i %></li>
    </ul>
    <%# end %> -->

  <h3>Instructions:</h3>
  <p><%= @recipe.instructions %></p>

    <!-- <%# @recipe.instructions.split(". ").compact.each do |i| %>
    <ol>
      <li><%#= i %></li>
    </ol>
    <%# end %> -->
</div>
