<div class="well well-md col-md-8 col-md-offset-2 text-center">
  <p id="notice"><%= flash[:notice] %></p>
  <h1 class="welcome-msg user-account">Welcome, <%=current_user.name %>!</h1>
  <div class="button-row">
    <span><%= link_to "Create A Dinner", new_user_dinner_path(current_user), :class => "btn btn-primary", :method => :get  %></span>
    <span><%= link_to "See My Dinners", user_dinners_path(current_user), :class => "btn btn-primary", :method => :get  %></span>
    <span><%= link_to "Edit My Profile", user_account_path(current_user), :class => "btn btn-primary", :method => :get  %></span>
  </div>
</div>
