<div id="my-dinners">
  <div class="well well-lg col-md-8 col-md-offset-2 text-center well-top">
  <h2>Dinners I've Hosted</h2>
    <div class="row text-center index-header">
      <span class="col-md-3">Name</span>
      <span class="col-md-3">Date</span>
      <span class="col-md-3"># Attending</span>
      <span class="col-md-3">Menu finalized?</span>
    </div>

    <% @hosted_dinners.reverse.each do |dinner| %>
      <div class="row dinner-row text-center">
        <span class="col-md-3"> <%= link_to dinner.name, user_dinner_path(dinner.host, dinner)%></span>
        <span class="col-md-3"><%= dinner.dinner_date %></span>
        <span class="col-md-3"><%= dinner.guests.size %></span>
        <span class="col-md-3"><%= dinner.final_menu? %></span>
      </div>
    <% end %>
  </div>

  <div class="well well-lg col-md-8 col-md-offset-2 text-center">
  <h2>Dinners I've Attended</h2>
    <div class="row dinner-row text-center index-header">
      <span class="col-md-3">Name</span>
      <span class="col-md-3">Date</span>
      <span class="col-md-3">Host</span>
      <span class="col-md-3">Was It Awesome?</span>
    </div>

    <% @attended_dinners.reverse.each do |dinner| %>
      <div class="row dinner-row text-center">
      <span class="col-md-3"> <%= link_to dinner.name, user_dinner_path(dinner.host, dinner)%></span>
      <span class="col-md-3"><%= dinner.dinner_date %></span>
      <span class="col-md-3"><%= dinner.host.name %></span>
      <span class="col-md-3">Yeah!</span>
    <% end %>
  </div>

  <div class="well well-lg col-md-8 col-md-offset-2 text-center">

    <h2>Upcoming Dinners</h2>
      <div class="row text-center index-header">
      <span class="col-md-3">Name</span>
      <span class="col-md-3">Date</span>
      <span class="col-md-3">Host</span>
      <span class="col-md-3">RSVP?</span>
    </div>

    <% @upcoming_dinners.reverse.each do |dinner| %>
      <div class="row dinner-row text-center">
        <span class="col-md-3"> <%= link_to dinner.name, user_dinner_path(dinner.host, dinner)%></span>
        <span class="col-md-3"><%= dinner.dinner_date %></span>
        <span class="col-md-3"><%= dinner.host.name %></span>
        <span class="col-md-3"><%= current_user.attending?(dinner) %></span>
      </div>
    <% end %>
  </div>
  <div class="col-md-8 col-md-offset-2 text-center well-bottom">
    <%= link_to "Back", user_path(@user), class: "btn btn-primary" %>
    </div>
</div>
