<div class="well well-lg col-md-10 col-md-offset-1 text-center">
  <h3 class="welcome-msg"><%= @dinner.name%></h3>
  <h4 class="welcome-msg"><%= @dinner.location %></h4>
  <h5 class="welcome-msg"><%= @dinner.datetime.strftime('%A, %d %b %Y %l:%M %p') %></h5>
  <br>


  <div id="menu">
    <% if @dinner.menu %>
      <%= render 'menus/menu' %>
    <% else %>
      <%= render 'menus/form' %>
    <% end %>
  </div>

  <div class="email-guests">
  <br>
    <%= render 'email_guest_form' %>
  </div>

</div>

