<div class="well well-lg col-md-10 col-md-offset-1 text-center">
  <%= @dinner.name %><br>
  <%= @dinner.location %><br>
  <%= @dinner.datetime.strftime('%A, %d %b %Y %l:%M %p') %>
  <br><br>


  <div id="menu">
    <% if @dinner.menu %>
      <%= render 'menus/menu' %>
    <% else %>
      <%= render 'menus/form' %>
    <% end %>
  </div>


</div>

  <div class="email-guests">
  
    <%= render 'email_guest_form' %>
  </div>
