<div class="well well-lg col-md-10 col-md-offset-1 text-center">
  <h3 class="welcome-msg"><%= @dinner.name%></h3>
  <h4 class="welcome-msg"><%= @dinner.location %></h4>
  <h5 class="welcome-msg"><%= @dinner.datetime.strftime('%A, %d %b %Y %l:%M %p') %></h5>
  <br>


  <div id="menu">
  <% if @dinner.menu %>  
    <% if @dinner.menu.election %>
      <%= render 'menus/menu_election' %>
    <% else %>
      <%= render 'menus/menu' %>
    <% end %>
  <% else %>
      <%= render 'menus/form' %>
    <% end %>
  </div>

  <div id="email-button" class="email-guests <%= "hidden" if !@dinner.menu || current_user != @dinner.host %>">
  <br>
    <%= render 'email_guest_form' %>
  </div>

</div>

