<div id="menu" class="well well-lg col-md-4 col-md-offset-4 text-center">
  <%= @dinner.name %><br>
  <%= @dinner.location %><br>
  <%= @dinner.datetime.strftime('%A, %d %b %Y %l:%M %p') %>
  <br><br>
  <% if @dinner.menu %>
    <%= render 'menus/menu' %>
  <% else %>
    <%= render 'menus/form' %>
  <% end %>
</div>